.proficiency {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
}

.image-container {
  width: 100%;
  background-color: white;
  position: relative;
  padding: 30%;
  max-width: 70%;
  overflow: hidden;
  border-radius: 2%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Change this property to 'contain' */
  position: absolute;
  padding: 10%;
  top: 0;
  left: 0;
}

.arrow-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.description {
  background-color: white;
  color: black;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}